@model IEnumerable<MVC5_HomeWork.Models.客戶列表>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶銀行帳戶數量)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.客戶名稱, "Edit", "CustomerInfoManage", new { Id = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶聯絡人數量)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶銀行帳戶數量)
        </td>
    </tr>
}

</table>
